@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.btn {
  text-align: center;
  font-size: large;
  padding: 15px 20px 15px 20px;
  margin: 10px 0 0 0;
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  color: white;
  box-shadow: 0px 5px 10px #d1d1d1;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 0px 5px 10px #535353;
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
}
.header_precedent {
  position: absolute;
  left: 10px;
  display: flex;
  color: black;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header_logo img {
  width: 50%;
  max-width: 300px;
}
.header a {
  text-decoration: none;
}

.accueil_presentation_localisation {
  width: 100%;
  background-color: #eaeaea;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.accueil_presentation_localisation i {
  color: #353535;
}
.accueil_presentation_localisation input {
  background: none;
  border: none;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  max-width: 40%;
  color: #353535;
}
.accueil_presentation_explorer {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.accueil_presentation_explorer h1 {
  text-align: center;
  padding: 40px 60px 10px 60px;
  font-weight: bold;
}
.accueil_presentation_explorer h2 {
  text-align: center;
  font-size: large;
  padding: 0 30px 20px 30px;
  color: #353535;
}
.accueil_fonctionnement {
  padding: 50px 0 50px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.accueil_fonctionnement h2 {
  margin: 0 0 10px 20px;
}
.accueil_fonctionnement_zone {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.accueil_fonctionnement_zone h3 {
  height: 25px;
  width: 25px;
  margin: 25px 20px 25px 20px;
  z-index: 2;
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accueil_fonctionnement_zone i {
  height: 25px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
}
.accueil_fonctionnement_zone p {
  position: absolute;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 33px;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  width: calc(30% - 123px);
  box-shadow: 0px 5px 10px #d1d1d1;
}
.accueil_fonctionnement_zone i:hover, .accueil_fonctionnement_zone p:hover ~ i, .accueil_fonctionnement_zone h3:hover ~ i {
  color: #9356dc;
}
.accueil_fonctionnement_zone p:hover, .accueil_fonctionnement_zone i:hover ~ p, .accueil_fonctionnement_zone h3:hover ~ p {
  background-color: rgba(147, 86, 220, 0.5019607843);
}
.accueil_restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  font-weight: bold;
  padding-bottom: 70px;
}
.accueil_restaurants h2 {
  margin: 40px 20px 0 20px;
}
.accueil_restaurants_zone {
  display: flex;
  flex-wrap: wrap;
}
.accueil_restaurants_zone_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 20px 0 20px;
  border-radius: 15px;
  width: calc(25% - 40px);
  box-shadow: 0px 5px 10px #d1d1d1;
}
.accueil_restaurants_zone_card_image {
  position: relative;
  display: flex;
}
.accueil_restaurants_zone_card_image a {
  width: 100%;
}
.accueil_restaurants_zone_card_image img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.accueil_restaurants_zone_card_image p {
  position: absolute;
  top: 15px;
  left: calc(100% - 100px);
  background-color: #99E2D0;
  color: #269e80;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}
.accueil_restaurants_zone_card_texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 0 10px 0;
}
.accueil_restaurants_zone_card_texte_texte {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.accueil_restaurants_zone_card_texte_texte h3 {
  margin-left: 20px;
  font-weight: bold;
}
.accueil_restaurants_zone_card_texte_texte p {
  margin-left: 20px;
}
.accueil_restaurants_zone_card_texte_picto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.accueil_restaurants_zone_card_texte_picto_couleur {
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold !important;
  position: absolute;
  color: transparent;
  z-index: 1;
}
.accueil_restaurants_zone_card_texte_picto_anim {
  position: absolute;
  z-index: 2;
  width: 16px;
  height: 16px;
  background-color: white;
}
.accueil_restaurants_zone_card_texte_picto_bordure {
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  z-index: 3;
}

.animation1, .animation2, .animation3, .animation4 {
  height: 16px;
  width: 16px;
}

.animation1:hover .anim1 {
  height: 0px;
  transition: height 1.5s ease-in-out;
}
.animation1:hover .bordure1 {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 1.2s;
}

.animation2:hover .anim2 {
  height: 0px;
  transition: height 1.5s ease-in-out;
}
.animation2:hover .bordure2 {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 1.2s;
}

.animation3:hover .anim3 {
  height: 0px;
  transition: height 1.5s ease-in-out;
}
.animation3:hover .bordure3 {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 1.2s;
}

.animation4:hover .anim4 {
  height: 0px;
  transition: height 1.5s ease-in-out;
}
.animation4:hover .bordure4 {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 1.2s;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.footer h4 {
  margin-bottom: 20px;
  color: white;
  font-family: Shrikhand;
  font-size: large;
}
.footer a {
  margin: 3px 0 3px 0;
  color: white;
  font-size: large;
  text-decoration: none;
}
.footer i {
  width: 25px;
}

.main {
  background-color: #f6f6f6;
}
.main_presentation {
  max-height: 40vh;
  display: flex;
}
.main_presentation img {
  width: 100%;
  object-fit: cover;
}
.main_menu {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  transform: translateY(-50px);
}
.main_menu h2 {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: large;
}
.main_menu_titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 15px;
}
.main_menu_titre h1 {
  font-family: "Shrikhand";
}
.main_menu_titre i {
  margin: 0 30px;
}
.main_menu_zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main_menu_zone_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  width: 25%;
}
.main_menu_zone_cards h2 {
  margin-top: 30px;
}
.main_menu_ligne {
  width: 50px;
  height: 5px;
  background-color: #99E2D0;
  margin: 0 0 15px 15px;
}
.main_menu_plat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 7px 10px 7px 10px;
  box-shadow: 0px 5px 10px #d1d1d1;
}
.main_menu_plat_texte {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  margin: 10px;
}
.main_menu_plat_texte h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main_menu_plat_texte div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main_menu_plat_texte_detail {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.main_menu_plat_texte_tarif {
  margin: 0 0 0 5px;
}
.main_menu_plat_coeur {
  display: flex;
  width: 0px;
  height: 62px;
  border-radius: 0 15px 15px 0;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
}
.main_menu_plat_coeur i {
  color: white;
  transform: rotate(360deg);
  scale: 0;
}
.main_menu_plat:hover .main_menu_plat_texte {
  width: calc(100% - 80px);
  transition: width 500ms ease-in-out;
}
.main_menu_plat:hover .main_menu_plat_coeur {
  width: 60px;
  transition: width 500ms ease-in-out;
}
.main_menu_plat:hover .main_menu_plat_coeur i {
  scale: 1;
  transform: rotate(0deg);
  transition: transform 500ms 50ms, scale 10ms 150ms;
}

.slide {
  animation: slide 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 2;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  40% {
    transform: translate3d(0, 0, 0) opacity(0);
    opacity: 1;
  }
}
.slide2 {
  animation: slide2 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 2;
}

@keyframes slide2 {
  0%, 20% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  60% {
    transform: translate3d(0, 0, 0) opacity(0);
    opacity: 1;
  }
}
.slide3 {
  animation: slide3 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 2;
}

@keyframes slide3 {
  0%, 40% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0, 0) opacity(0);
    opacity: 1;
  }
}
.slide4 {
  animation: slide4 2s ease-in-out;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 2;
}

@keyframes slide4 {
  0%, 60% {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) opacity(0);
    opacity: 1;
  }
}
.chargement {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9176470588);
  opacity: 0;
  scale: 0;
  animation: chargement 4000ms;
}
.chargement p {
  font-size: xx-large;
  font-weight: bold;
  color: #000000;
  font-family: Shrikhand;
}
.chargement div {
  display: flex;
}
.chargement_1, .chargement_2, .chargement_3, .chargement_4, .chargement_5, .chargement_6, .chargement_7, .chargement_8, .chargement_9, .chargement_10 {
  transform: translate3d(0, 0, 0);
}
.chargement_1 {
  animation: chargement_1 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_2 {
  animation: chargement_2 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_3 {
  animation: chargement_3 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_4 {
  animation: chargement_4 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_5 {
  animation: chargement_5 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_6 {
  animation: chargement_6 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_7 {
  animation: chargement_7 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_8 {
  animation: chargement_8 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_9 {
  animation: chargement_9 3000ms ease-in-out;
  animation-iteration-count: infinite;
}
.chargement_10 {
  animation: chargement_10 3000ms ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes chargement {
  0%, 99% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@keyframes chargement_1 {
  0%, 28% {
    transform: translate3d(0, 0, 0);
  }
  14% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_2 {
  8%, 36% {
    transform: translate3d(0, 0, 0);
  }
  22% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_3 {
  16%, 44% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_4 {
  24%, 52% {
    transform: translate3d(0, 0, 0);
  }
  38% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_5 {
  32%, 60% {
    transform: translate3d(0, 0, 0);
  }
  46% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_6 {
  40%, 68% {
    transform: translate3d(0, 0, 0);
  }
  54% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_7 {
  48%, 76% {
    transform: translate3d(0, 0, 0);
  }
  62% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_8 {
  56%, 84% {
    transform: translate3d(0, 0, 0);
  }
  70% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_9 {
  64%, 92% {
    transform: translate3d(0, 0, 0);
  }
  78% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes chargement_10 {
  72%, 100% {
    transform: translate3d(0, 0, 0);
  }
  86% {
    transform: translate3d(0, -10px, 0);
  }
}
@media screen and (max-width: 992px) {
  .accueil_fonctionnement {
    align-items: flex-start;
    flex-direction: column;
  }
  .accueil_fonctionnement_zone p {
    width: calc(100% - 123px);
    border-radius: 15px;
  }
  .accueil_restaurants_zone_card {
    width: calc(50% - 40px);
  }
  .main_presentation {
    max-height: 30vh;
    display: flex;
  }
  .main_menu_zone_cards {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .accueil_restaurants_zone_card {
    width: 100%;
  }
  .main_presentation {
    max-height: 100vh;
    display: flex;
  }
  .main_menu_titre {
    justify-content: space-between;
  }
  .main_menu_zone_cards {
    width: 100%;
  }
}

/*# sourceMappingURL=normalize.css.map */
