@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.btn {
    text-align: center;
    font-size: large;
    padding: 15px 20px 15px 20px;
    margin: 10px 0 0 0;
    border-radius: 30px;
    background: linear-gradient(to bottom, #FF79DA , #9356DC);
    border: none;
    color: white;
    box-shadow: 0px 5px 10px #d1d1d1;
    &:hover {
        opacity: 0.7;
        box-shadow: 0px 5px 10px #535353;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    &_precedent {
        position: absolute;
        left: 10px;
        display: flex;
        color: black;
    }
    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
            width: 50%;
            max-width: 300px;
        }
    }
    a {
        text-decoration: none;
    }
}

.accueil {
    &_presentation_localisation {
        width: 100%;
        background-color: #eaeaea;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        i {
            color: #353535;
        }
        input {
            background: none;
            border: none;
            text-align: center;
            font-size: medium;
            font-weight: bold;
            max-width: 40%;
            color: #353535;
        }
    }
    &_presentation_explorer {
        width: 100%;
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        h1 {
            text-align: center;
            padding: 40px 60px 10px 60px;
            font-weight: bold;
        }
        h2 {
            text-align: center;
            font-size: large;
            padding: 0 30px 20px 30px;
            color: #353535;
        }
    }
    &_fonctionnement {
        padding: 50px 0 50px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        h2 {
            margin: 0 0 10px 20px;
        }
        &_zone {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            h3 {
                height: 25px;
                width: 25px;
                margin: 25px 20px 25px 20px;
                z-index: 2;
                background-color: #9356dc;
                color: white;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            i {
                height: 25px;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #7e7e7e;
            }
            p {
                position: absolute;
                background-color: #f6f6f6;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-left: 33px;
                border-radius: 15px 0 0 15px;
                display: flex;
                align-items: center;
                padding-left: 70px;
                width: calc(30% - 123px);
                box-shadow: 0px 5px 10px #d1d1d1;
            }
            i:hover, p:hover ~ i, h3:hover ~ i {
                color: #9356dc;
            }
            p:hover, i:hover ~ p, h3:hover ~ p {
                background-color: #9356dc80;
            }
        }
    }
    &_restaurants {
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;
        font-weight: bold;
        padding-bottom: 70px;
        h2 {
            margin: 40px 20px 0 20px;
        }
        &_zone {
            display: flex;
            flex-wrap: wrap;
            &_card {
                display: flex;
                flex-direction: column;
                background-color: white;
                margin: 20px 20px 0 20px;
                border-radius: 15px;
                width: calc(25% - 40px);
                box-shadow: 0px 5px 10px #d1d1d1;
                &_image {
                    position: relative;
                    display: flex;
                    a {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 150px;
                        border-radius: 15px 15px 0 0;
                        object-fit: cover;
                    }
                    p {
                        position: absolute;
                        top: 15px;
                        left: calc(100% - 100px);
                        background-color: #99E2D0;
                        color: #269e80;
                        padding: 5px 10px 5px 10px;
                        border-radius: 2px;
                        font-weight: bold;
                    }
                }
                &_texte {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    padding: 10px 0 10px 0;
                    &_texte {
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        h3 {
                            margin-left: 20px;
                            font-weight: bold;
                        }
                        p {
                            margin-left: 20px;
                        }
                    }
                    &_picto {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        &_couleur {
                            background: -webkit-linear-gradient(bottom, #FF79DA , #9356DC);
                            background-clip: text;
                            -webkit-background-clip: text;
                            font-weight: bold !important;
                            position: absolute;
                            color: transparent;
                            z-index: 1;
                        }
                        &_anim {
                            position: absolute;
                            z-index: 2;
                            width: 16px;
                            height: 16px;
                            background-color: white;
                        }
                        &_bordure {
                            background: black;
                            background-clip: text;
                            -webkit-background-clip: text;
                            color: transparent;
                            position: absolute;
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}

.animation1, .animation2, .animation3, .animation4 {
    height: 16px;
    width: 16px;
}

.animation1:hover {
    .anim1 {
        height: 0px;
        transition: height 1.5s ease-in-out;
    }
    .bordure1 {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1.2s;
    }
}

.animation2:hover {
    .anim2 {
        height: 0px;
        transition: height 1.5s ease-in-out;
    }
    .bordure2 {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1.2s;
    }
}

.animation3:hover {
    .anim3 {
        height: 0px;
        transition: height 1.5s ease-in-out;
    }
    .bordure3 {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1.2s;
    }
}

.animation4:hover {
    .anim4 {
        height: 0px;
        transition: height 1.5s ease-in-out;
    }
    .bordure4 {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1.2s;
    }
}

.footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding: 25px;
    h4 {
        margin-bottom: 20px;
        color: white;
        font-family: Shrikhand;
        font-size: large;
    }
    a {
        margin: 3px 0 3px 0;
        color: white;
        font-size: large;
        text-decoration: none;
    }
    i {
        width: 25px;
    }
}

.main {
    background-color: #f6f6f6;
    &_presentation {
        max-height: 40vh;
        display: flex;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &_menu {
        border-radius: 40px 40px 0 0;
        background-color: #f6f6f6;
        transform: translateY(-50px);
        h2 {
            margin-left: 15px;
            text-transform: uppercase;
            font-size: large;
        }
        &_titre {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px 0 0 15px;
            h1 {
                font-family: 'Shrikhand';
            }
            &_picto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 20px;
                &_couleur {
                    background: -webkit-linear-gradient(bottom, #FF79DA , #9356DC);
                    background-clip: text;
                    -webkit-background-clip: text;
                    font-weight: bold !important;
                    position: absolute;
                    color: transparent;
                    z-index: 1;
                }
                &_anim {
                    position: absolute;
                    z-index: 2;
                    width: 16px;
                    height: 16px;
                    background-color: #f6f6f6;
                }
                &_bordure {
                    background: black;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    position: absolute;
                    z-index: 3;
                }
            }
        }
        &_zone {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &_cards {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 25%;
                h2 {
                    margin-top: 30px;
                }
            }
        }
        &_ligne {
            width: 50px;
            height: 5px;
            background-color: #99E2D0;
            margin: 0 0 15px 15px;
        }
        &_plat {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            margin: 7px 10px 7px 10px;
            box-shadow: 0px 5px 10px #d1d1d1;
            &_texte {
                display: flex;
                flex-direction: column;
                width: calc(100% - 20px);
                margin: 10px;
                h3 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                &_detail {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &_tarif {
                    margin: 0 0 0 5px;
                }
            }
            &_coeur {
                display: flex;
                width: 0px;
                height: 62px;
                border-radius: 0 15px 15px 0;
                justify-content: center;
                align-items: center;
                background-color: #99E2D0;
                i {
                    color: white;
                    transform: rotate(360deg) scale(0);
                }
            }
            &:hover {
                .main_menu_plat_texte {
                    width: calc(100% - 80px);
                    transition: width 500ms ease-in-out;
                }
                .main_menu_plat_coeur {
                    width: 60px;
                    transition: width 500ms ease-in-out;
                }
                .main_menu_plat_coeur i {
                    transform: rotate(0deg) scale(1);
                    transition: transform 500ms 50ms, scale 10ms 150ms;
                }
            }
        }
        &_button {
            text-align: center;
        }
    }
}

.slide {
    animation: slide 2s ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}
  
@keyframes slide {
    0% {
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }
    40% {
        transform: translate3d(0, 0, 0) opacity;
        opacity: 1;
    }
}

.slide2 {
    animation: slide2 2s ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}

@keyframes slide2 {
    0%, 20% {
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }
    60% {
        transform: translate3d(0, 0, 0) opacity;
        opacity: 1;
    }
}

.slide3 {
    animation: slide3 2s ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}
  
@keyframes slide3 {
    0%, 40% {
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }
    80% {
        transform: translate3d(0, 0, 0) opacity;
        opacity: 1;
    }
}

.slide4 {
    animation: slide4 2s ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 2;
}
  
@keyframes slide4 {
    0%, 60% {
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0) opacity;
        opacity: 1;
    }
}

.chargement {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left :0;
    width: 100vw;
    height : 100vh;
    background-color: #ffffffea;
    opacity: 0;
    scale: 0;
    animation: chargement 4000ms;
    & p {
        font-size: xx-large;
        font-weight: bold;
        color: #000000;
        font-family: Shrikhand;
    }
    & div {
        display: flex;
    }
    &_1, &_2, &_3, &_4, &_5, &_6, &_7, &_8, &_9, &_10 {
        transform: translate3d(0, 0, 0);
    }
    &_1 {
        animation: chargement_1 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_2 {
        animation: chargement_2 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_3 {
        animation: chargement_3 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_4 {
        animation: chargement_4 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_5 {
        animation: chargement_5 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_6 {
        animation: chargement_6 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_7 {
        animation: chargement_7 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_8 {
        animation: chargement_8 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_9 {
        animation: chargement_9 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
    &_10 {
        animation: chargement_10 3000ms ease-in-out;
        animation-iteration-count: infinite;
    }
}

@keyframes chargement {
    0%, 99% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0;
    }
}

@keyframes chargement_1 {
    0%, 28% {
        transform: translate3d(0, 0, 0);
    }
    14% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_2 {
    8%, 36% {
        transform: translate3d(0, 0, 0);
    }
    22% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_3 {
    16%, 44% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_4 {
    24%, 52% {
        transform: translate3d(0, 0, 0);
    }
    38% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_5 {
    32%, 60% {
        transform: translate3d(0, 0, 0);
    }
    46% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_6 {
    40%, 68% {
        transform: translate3d(0, 0, 0);
    }
    54% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_7 {
    48%, 76% {
        transform: translate3d(0, 0, 0);
    }
    62% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_8 {
    56%, 84% {
        transform: translate3d(0, 0, 0);
    }
    70% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_9 {
    64%, 92% {
        transform: translate3d(0, 0, 0);
    }
    78% {
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes chargement_10 {
    72%, 100% {
        transform: translate3d(0, 0, 0);
    }
    86% {
        transform: translate3d(0, -10px, 0);
    }
}

@media screen and (max-width: 992px) {
    .accueil {
        &_fonctionnement {
            align-items: flex-start;
            flex-direction: column;
            &_zone p {
                width: calc(100% - 123px);
                border-radius: 15px;
            }
        }
        &_restaurants_zone_card {
            width: calc(50% - 40px);
        }
    }

    .main {
        &_presentation{
            max-height: 30vh;
            display: flex;
        }
        &_menu_zone_cards {
            width: 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .accueil {
        &_restaurants_zone_card {
            width: 100%;
        }
    }
    .main {
        &_presentation{
            max-height: 100vh;
            display: flex;
        }
        &_menu_titre {
            justify-content: space-between;
        }
        &_menu_zone_cards {
            width: 100%;
        }
    }
}